<a href="{{ site.github.repository_url }}" class="button" style="margin-left: 25%"><strong>View On GitHub</strong></a>
<a href="/contact" class="button"><strong>Contact</strong></a>
<a href="/meetings" class="button"><strong>Meetings</strong></a>
<a href="/projects" class="button"><strong>Projects</strong></a>
<a href="/STEMClubLeadershipTeams" class="button"><strong>Team Leaders</strong></a>
<a href="/careers" class="button"><strong>Careers</strong></a>
<a href="/STEMclubKits" class="button"><strong>Kits</strong></a>
<a href="/posters" class="button"><strong>Posters</strong></a>
